/* header */
:root{
    --home-color:rgb(3, 27 , 63);
    --bron-color:rgba(168,134,111);
    --bron-white: rgba(237 , 209 ,188);
    --bron-light:rgba(209, 198,182);
}
@media(max-width:769px){
    #home-content-inner img{
        width:150px
        }
        .vertical-heading h2 {
            position: static;
        }
        .row{
            display: flex;
            flex-direction: column-reverse;
        
        }
    
        .what-us .left::before{
            left: -25px!important;
        }
}
#what-us{
    padding: 0;
}
.navbar-header img {
    width: 50px;
}



.row #about-right .text{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.row #about-right .text i {
    margin-left: 20px;
    color:var(--bron-color);
}

.row .buttons {
    display: flex;
    width: 300px;
    margin-left: 190px;
}

.main-title-link {
    align-items: center;
    text-align: center;
    margin-right: 10px;
    border: 2px solid var(--bron-color);
    position: relative;
    z-index: 1;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    border-radius: 50rem!important;
    width: 170px;
}
.main-title-link:first-child:hover{
    transition: all 0.3s ease;
    background-color: var(--bron-color);
}
.main-title-link:first-child:hover a{
    transition: all 0.3s ease;
    color: white;
    background-color: var(--bron-color);
}
.main-title-link:first-child a{
    background-color: white;
    color: var(--bron-color);
}
.main-title-link:last-child{
    background-color: var(--bron-color);
    color:var(--home-color);
}
.main-title-link:last-child:hover{
    background-color: rgb(156, 113, 85);
}
.main-title-link:last-child a  {
    color: var(--home-color);
}






/*  */


.what-us  button {
    background-color: white;
}

.what-us{
    /* position: relative;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 180px;
    margin-bottom: 80px; */
    background-color: transparent;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.what-us .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.content {
    display: none;
}



/* .vis-btn.active {
background-color:var(--bron-white); 
color:white;
} */
.vis-btn.active .vision h2 , 
.vis-btn.active .vision p  {
    color: var(--bron-color);
}
.vis-btn:hover .vision div h2 , 
.vis-btn:hover .vision div p ,
.vis-btn:hover .vision div i {
    color: var(--bron-color);
}
.vis-btn.active .vision {
    background-color: var(--home-color);
    border-radius: 50px;
}
.vis-btn.active .vision div i ,
.vis-btn.active .vision div h2,
.vis-btn.active .vision div p {
    color: var(--bron-color);

}
.vis-btn.active::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 15%;
    height: 95%;
    opacity: 1;
    background-image: url("../img/arch/vision-btn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.what-us .vis-btn{ 
    margin-bottom: 30px;
    border: 1px solid rgba(27,38,49,.04);
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: 1s;
    /* background-image: url("../images/back-black.png");
    background-position:  center left; 
    background-repeat: no-repeat;  */
    width: 397px;

}
.vis-btn:hover::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 15%;
    height: 95%;
    opacity: 1;
    background-image: url("../img/arch/vision-btn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.what-us .vis-btn .vision{
    transition: all 0.5s ease;
    text-align: end;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 350px;
}
.what-us .vis-btn .vision div i{
    margin-right: 10px;
    background-color: rgba(172, 166, 166, 0.288);
    padding: 10px;
    border-radius: 50px;
}

.what-us .vis-btn .vision:hover div i{
    background-color: white;
    transition: all 0.5s ease-in;
}
.what-us .vision::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50px;
    background-color: var(--home-color);
    left: 50%;
    top: 50%;
    z-index: -999;
    transform: translate(-50%, -50%);
}

.what-us .vision:hover::after{
    width: 400px;
    height: 100px;
    transition: all 0.5s ease;
}


.what-us .left{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    /* background-image: url("../images/back.png");
    background-position:  center right; 
    background-repeat: no-repeat;  */
}
.what-us .left::before{
    content: '';
    display: block;
    position: absolute;
    left: -100px;
    top: -116px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("../img/arch/btn-back.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;

}

.what-us .vision-left{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: end;
    box-shadow: var(--bron-color) 0px 20px 20px -20px;
    padding: 10px;
    opacity: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    text-align: end;
    background-color: #fff;
    position: relative;
    margin-right: 80px;
    width: 560px;
}



.what-us .vision-left,
.what-us .vision i , 
.what-us .vision h2 , 
.what-us .vision p , 
.what-us .vision p{
    margin-bottom: 10px;
    margin-left: 15px;
}
.what-us .vision h2 {
    color: var(--home-color);
    font-size: 26px;

}
.what-us .vision-left p , 
.what-us .vision-left h2,
.what-us .vision-left p{
    padding-right: 40px;
    padding-left: 40px;
}

.what-us .vision i {
    font-size: 25px;
    color: var(--home-color);
}
.what-us .vision h2{
    font-weight: bolder;
}
.what-us .vision p {
    text-align:center;
}



.fixed-size-left {
    width: 800px; 
}

@media (max-width: 1420px){

}
@media (max-width: 1040px){
    .what-us .right {
    margin-right: 70px;
    }
    .what-us .left {
        width: 70%;
    }

    .what-us .vision-left {
            width: 90%;
    }
    .vertical-heading h5 {
        left: 145px;
    }
    .vertical-heading h2 {
        left: -30%;
    }
    .row .buttons {
    margin-left: 220px;
    }
}

@media (max-width: 880px){
    .what-us {
        flex-direction: column;
    }
    .what-us .right {
        flex-direction: row;
    }
    .what-us .left {
        width: 90%;
        margin-left: 50px;
    }
    .what-us .vis-btn {
    }
    .what-us .vis-btn p{
        font-size: 13px;
    }
   
}

@media (max-width: 580px){
    .what-us .vis-btn {
        width: 98%;
    }
    .what-us .right {
    margin-right: 20px;
    }
    .what-us .vision-left {
        margin-left: 28px;
        width: 85%;
        }
    .what-us .left{
        width: 100%;
        margin-left: 0;
    }
    .what-us .vision-left p {
        margin: 0;
    }
    .row .buttons{
        margin-left: 50px;
    }
    .what-us .vision:hover::after{
        width: 350px;
       
    }
}


#image-what{
    position: relative;
    height: 40vh;
}

#image-what::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    height: 95%;
    opacity: 0.3;
    background-image: url("../img/arch/car-black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
