/* header */
:root{
    --home-color:rgb(3, 27 , 63);
    --bron-color:rgba(168,134,111);
    --bron-white: rgba(237 , 209 ,188);
    --bron-light:rgba(209, 198,182);
    --back-btn:rgba(236, 224,211);
    --back-gray:#dddbda73;
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
    --bg-color: #D8D8D8;
}

a {
    font-family: 'Scheherazade New', serif;
    font-size: 16px;

}

.home-title {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    color: white;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    animation: a-ltr-after 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}






.square-brackets {
    display: inline-block;
    width: 30px;
    height: 163px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.square-brackets::before, .square-brackets::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bron-color); /* Border style and color */
}

.square-brackets::before {
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 4px 0 0 0; /* Adjust the radius to make it more square */
}

.square-brackets::after {
    top: 0;
    right: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 4px 0 0;
}

.square-brackets-left {
    display: inline-block;
    width: 30px;
    height: 163px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.square-brackets-left::before, .square-brackets-left::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bron-color); /* Border style and color */
}

.square-brackets-left::before {
    top: 0;
    left: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 4px 0 0 0;
}

.square-brackets-left::after {
    top: 0;
    right: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 4px 0 0;
}
/* ********************************************************** */
/* .row .title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title .header-title  {
    display: inline-block;
    font-size: 240px; 
    border: 2px solid #000; 
    padding: 5px; 
    border-radius: 4px; 
    margin: 10px; 

}
.title  .header-title p{
    width: 10px;
    font-weight:100!important;
    font-size: 30px;
    height: 100%;
} */



.navbar-header img {
    width: 50px;
}

.header-title{
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-bottom: 20px;
}








*  */




.content {
    display: none;
}














