:root{
    --home-color:rgb(3, 27 , 63);
    --bron-color:rgba(168,134,111);
    --bron-white: rgba(237 , 209 ,188)
}


.projects .boxses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}

.projects a {
    text-decoration: none;
    overflow: hidden;
}

.projects .box {
    width: 50%;
    padding: 15px;
    background-color: white;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}


.projects .box img{
    max-width: 100%;
    filter: blur(0.5px) brightness(0.5);
    transition: all 0.7s ease;
    border-radius: 10px;

}

.projects .box h5{
    position: absolute;
    bottom: 10px;
    left: 35%;
    color: var(--bron-color);
    font-size: 30px;
}

.projects .box img:hover{
    transform:  scale(1.5);

}
@media (max-width: 767px) {
    .projects  .box {
      width: 45%;
    }
  }
  @media (max-width: 480px) {
    .projects .box{
      width: 95%;
    }
  }