.projects {
    padding-bottom: 70px;
}
.projects .title{
    text-align: center;
    width: 100%;
}
.projects .title .title-info{
    width: 35%;
    margin: auto;

    grid-area: overlap;
    -webkit-text-stroke: 4px transparent;
    position: relative;

}
.projects .title .title-info img {
    margin-top: 20px;
    width: 30px;
}
.projects .title .title-info h2 {
    color: var(--home-color);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.projects .title p {
    text-align: center;
    padding-top: 8px;
}
.projects .project-boxses {
display: flex;
flex-wrap: wrap;
justify-content:space-around;
align-items: center;
}

.projects .project-boxses .box {
    position: relative;
    overflow: hidden;

}
.projects .project-boxses .box img {
    max-width: 100%;
    filter: blur(0.5px) brightness(0.5);
    transition: all 0.7s ease;
    width: 500px;

}

.projects .project-boxses .box img:hover{
    transform:  scale(1.5);
}
.projects .project-boxses .box h2{
position: absolute;
bottom: 0;
left: 44%;
font-size: 30px;
font-weight: bold;
color: var(--bron-color);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width:1200px){
    .projects .project-boxses .box img{
        width: 460px;
    }
}


@media (max-width:768px){
    .projects .project-boxses .box img{
        width: 330px;
    }
}

@media (max-width:500px){
    .projects .project-boxses .box img{
        width: 500px;
        margin-top: 10px;
    }
    .projects .title .title-info{
        width: 70%;
    }
}